<section th:fragment="about">
  <div class="site-section bg-black">
  <!--  О себе-->
    <div class="container pt-4 pb-4">
      <div class="row align-items-center">
        <div class="col-md-6 mb-5 mb-md-0">
          <img src="/images/about_me.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-5 ml-auto ">
          <h3 class="text-white mb-5">О себе</h3>
          <blockquote class="quote-29281">
            <p>Фотография — это возможность остановить момент, а иногда и раскрыть новый смысл в обыденном.
            </p>
          </blockquote>
          <p>На данный момент имею опыт работы 2,5 года и обучаюсь в Гуманитарном колледже на рекламного фотографа, а
            также в Институте профессиональной фотографии на фотохудожника.</p>
          <p>Занимаюсь репортажной, свадебной, художественной, предметной фотосъёмкой.</p>


          <div class="social_29128 white mt-5">
            <a href="https://vk.com/studiospringtime"><span class="icon-vk"></span></a>
            <a href="https://t.me/sashaspring11"><span class="icon-telegram"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>