<section th:fragment="contact-section">
  <div class="site-section">

    <div class="container">

      <div class="row mb-5 ">
        <div class="col-md-7 text-center mx-auto">
          <span class="subtitle-39293">Контакты</span>
          <h2 class="serif">Связаться со мной</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 mb-5" >
          <form action="#" method="post">
            <div class="form-group row">
              <div class="col-md-6 mb-4 mb-lg-0">
                <label>
                  <input type="text" class="form-control" placeholder="Имя">
                </label>
              </div>
              <div class="col-md-6">
                <label>
                  <input type="text" class="form-control" placeholder="Фамилия">
                </label>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <label>
                  <input type="text" class="form-control" placeholder="Email">
                </label>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <textarea name="" id="" class="form-control" placeholder="Коммантарий" cols="30" rows="10"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 mr-auto">
                <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="Отправить сообщение">
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-4 ml-auto">
          <div class="bg-white p-3 p-md-5">
            <h3 class="text-black mb-4">Как связаться</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block mb-3">
                <span class="d-block text-black">Город:</span>
                <span class="text-black">Москва</span></li>
              <li class="d-block mb-3"><span class="d-block text-black">Телефон:</span><span class="text-black">+7-(912)-543-88-83</span></li>
              <li class="d-block mb-3"><span class="d-block text-black">Email:</span><span class="text-black">sashaspring38883@mail.ru</span></li>
            </ul>
          </div>
        </div>
      </div>

  </div> <!-- END .site-section -->
  </div>

</section>