<section th:fragment="photo-section">
  <div class="site-section">

    <div class="container">

      <div class="row mb-5 ">
        <div class="col-md-7 text-center mx-auto">
          <span class="subtitle-39293">Мои работы</span>
          <h2 class="serif">Просмотр моих работ</h2>
        </div>
      </div>

      <div id="posts" class="row no-gutter">

        <!-- Посты -->
        <div class="item web col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
          <a href="/images/test.jpg" class="item-wrap" data-fancybox="gal">
            <span class="icon-search2"></span>
            <img class="img-fluid" src="/images/test.jpg" alt="Нет фото.">
          </a>
        </div>

      </div>
    </div>
  <!-- END .site-section -->
  </div>
</section>